@tailwind base;

@tailwind components;

@tailwind utilities;

#app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

h2, h3 {
    @apply font-bold;
}

.nav-link {
    @apply font-bold text-white border-b-0;
}

.nav-link:hover {
    @apply text-n5_indigo border-b border-n5_indigo;
}

.embed-container {
    @apply relative h-0 max-w-full overflow-hidden;
    padding-bottom: 56.25%;
}

.embed-iframe {
    @apply absolute top-0 left-0 w-full h-full;
}

.button {
    @apply font-bold px-8 py-3 rounded-full uppercase shadow-lg;
}

.button-pink {
    @apply button bg-n5_pink text-white;
}

.button-pink:hover {
    @apply bg-white text-n5_pink;
}

.button-indigo {
    @apply button bg-n5_indigo text-black;
}

.button-indigo:hover {
    @apply bg-black text-n5_indigo;
}

.input-text {
    @apply py-3 px-4 w-full border rounded-full text-black outline-none
    }

#_form_55_ {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}

#_form_55_ * {
    outline: 0;
}

._form_hide {
    display: none;
    visibility: hidden;
}

._form_show {
    display: block;
    visibility: visible;
}

#_form_55_._form-top {
    top: 0;
}

#_form_55_._form-bottom {
    bottom: 0;
}

#_form_55_._form-left {
    left: 0;
}

#_form_55_._form-right {
    right: 0;
}

#_form_55_ input[type="text"] {
    @apply input-text;
}

#_form_55_ input[type="date"], #_form_55_ textarea {
    padding: 6px;
    height: auto;
    border: #979797 1px solid;
    border-radius: 4px;
    color: #000 !important;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#_form_55_ textarea {
    resize: none;
}

#_form_55_ ._submit {
    @apply button button-pink;
    -webkit-appearance: none;
}

#_form_55_ ._close-icon {
    cursor: pointer;
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png');
    background-repeat: no-repeat;
    background-size: 14.2px 14.2px;
    position: absolute;
    display: block;
    top: 11px;
    right: 9px;
    overflow: hidden;
    width: 16.2px;
    height: 16.2px;
}

#_form_55_ ._close-icon:before {
    position: relative;
}

#_form_55_ ._form-body {
    margin-bottom: 30px;
}

#_form_55_ ._form-image-left {
    width: 150px;
    float: left;
}

#_form_55_ ._form-content-right {
    margin-left: 164px;
}

#_form_55_ ._form-branding {
    color: #fff;
    font-size: 10px;
    clear: both;
    text-align: left;
    margin-top: 30px;
    font-weight: 100;
}

#_form_55_ ._form-branding ._logo {
    display: block;
    width: 130px;
    height: 14px;
    margin-top: 6px;
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png');
    background-size: 130px auto;
    background-repeat: no-repeat;
}

#_form_55_ ._form-label, #_form_55_ ._form_element ._form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#_form_55_._dark ._form-branding {
    color: #333;
}

#_form_55_._dark ._form-branding ._logo {
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png');
}

#_form_55_ ._form_element {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
    max-width: 100%;
}

#_form_55_ ._form_element * {
    font-size: 14px;
}

#_form_55_ ._form_element._clear {
    clear: both;
    width: 100%;
    float: none;
}

#_form_55_ ._form_element._clear:after {
    clear: left;
}

#_form_55_ ._form_element input[type="text"], #_form_55_ ._form_element input[type="date"], #_form_55_ ._form_element select, #_form_55_ ._form_element textarea:not(.g-recaptcha-response) {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#_form_55_ ._field-wrapper {
    position: relative;
}

#_form_55_ ._inline-style {
    float: left;
}

#_form_55_ ._inline-style:not(._clear) + ._inline-style:not(._clear) {
    margin-left: 20px;
}

#_form_55_ ._form_element img._form-image {
    max-width: 100%;
}

#_form_55_ ._clear-element {
    clear: left;
}

#_form_55_ ._full_width {
    width: 100%;
}

#_form_55_ ._form_full_field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#_form_55_ input[type="text"]._has_error, #_form_55_ textarea._has_error {
    border: #f37c7b 1px solid;
}

#_form_55_ input[type="checkbox"]._has_error {
    outline: #f37c7b 1px solid;
}

#_form_55_ ._error {
    display: block;
    position: absolute;
    font-size: 14px;
    z-index: 10000001;
}

#_form_55_ ._error._above {
    padding-bottom: 4px;
    bottom: 39px;
    right: 0;
}

#_form_55_ ._error._below {
    padding-top: 4px;
    top: 100%;
    right: 0;
}

#_form_55_ ._error._above ._error-arrow {
    bottom: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f37c7b;
}

#_form_55_ ._error._below ._error-arrow {
    top: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f37c7b;
}

#_form_55_ ._error-inner {
    padding: 8px 12px;
    background-color: #f37c7b;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#_form_55_ ._error-inner._form_error {
    margin-bottom: 5px;
    text-align: left;
}

#_form_55_ ._button-wrapper ._error-inner._form_error {
    position: static;
}

#_form_55_ ._error-inner._no_arrow {
    margin-bottom: 10px;
}

#_form_55_ ._error-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

#_form_55_ ._error-html {
    margin-bottom: 10px;
}

.pika-single {
    z-index: 10000001 !important;
}

@media all and (min-width: 320px) and (max-width: 667px) {
    ::-webkit-scrollbar {
        display: none;
    }
    #_form_55_ {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    #_form_55_ * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1em;
    }
    #_form_55_ ._form-content {
        margin: 0;
        width: 100%;
    }
    #_form_55_ ._form-inner {
        display: block;
        min-width: 100%;
    }
    #_form_55_ ._form-title, #_form_55_ ._inline-style {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    #_form_55_ ._form-title {
        font-size: 1.2em;
    }
    #_form_55_ ._form_element {
        margin: 0 0 20px;
        padding: 0;
        width: 100%;
    }
    #_form_55_ ._form-element, #_form_55_ ._inline-style, #_form_55_ label, #_form_55_ p, #_form_55_ textarea:not(.g-recaptcha-response) {
        float: none;
        display: block;
        width: 100%;
    }
    #_form_55_ ._row._checkbox-radio label {
        display: inline;
    }
    #_form_55_ ._row, #_form_55_ p, #_form_55_ label {
        margin-bottom: 0.7em;
        width: 100%;
    }
    #_form_55_ ._row input[type="checkbox"], #_form_55_ ._row input[type="radio"] {
        margin: 0 !important;
        vertical-align: middle !important;
    }
    #_form_55_ ._row input[type="checkbox"] + span label {
        display: inline;
    }
    #_form_55_ ._row span label {
        margin: 0 !important;
        width: initial !important;
        vertical-align: middle !important;
    }
    #_form_55_ ._form-image {
        max-width: 100%;
        height: auto !important;
    }
    #_form_55_ input[type="text"] {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        line-height: 1.3em;
        -webkit-appearance: none;
    }
    #_form_55_ input[type="radio"], #_form_55_ input[type="checkbox"] {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        font-size: 1em;
        margin: 0 0.3em 0 0;
        vertical-align: baseline;
    }
    #_form_55_ button[type="submit"] {

    }
    #_form_55_ ._inline-style {
        margin: 20px 0 0 !important;
    }
}

#_form_55_ {
    position: relative;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *zoom: 1;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    color: #fff !important;
}

#_form_55_ ._form-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

#_form_55_:before, #_form_55_:after {
    content: " ";
    display: table;
}

#_form_55_:after {
    clear: both;
}

#_form_55_._inline-style {
    width: auto;
    display: inline-block;
}

#_form_55_._inline-style input[type="text"], #_form_55_._inline-style input[type="date"] {
    padding: 10px 12px;
}

#_form_55_._inline-style button._inline-style {
    position: relative;
    top: 27px;
}

#_form_55_._inline-style p {
    margin: 0;
}

#_form_55_._inline-style ._button-wrapper {
    position: relative;
    margin: 0px 12.5px 0 20px;
}

#_form_55_ ._form-thank-you {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
}

@media all and (min-width: 320px) and (max-width: 667px) {
    #_form_55_._inline-form._inline-style ._inline-style._button-wrapper {
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
}
